.Login {
    text-align: center;
    font-family: monospace;
    background-color: rgb(245, 132, 27);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 60px 0;
    color: rgb(0, 0, 0);
}

.Login form {
    margin: 0 auto;
    max-width: 320px;
}